In [1]:
import numpy as np

In [2]:
name_list = ['小明','小華','小菁','小美','小張','John','Mark','Tom']
sex_list = ['boy','boy','girl','girl','boy','boy','boy','boy']
weight_list = [67.5,75.3,50.1,45.5,80.8,90.4,78.4,70.7]
rank_list = [8,1,5,4,7,6,2,3]
myopia_list = [True,True,False,False,True,True,False,False]

In [3]:
dt = np. dtype('U5,U5,float,int,bool')

In [4]:
#將資料依序放入array中
c = np.zeros(8,dtype=dt)
c

array([('', '', 0., 0, False), ('', '', 0., 0, False),
       ('', '', 0., 0, False), ('', '', 0., 0, False),
       ('', '', 0., 0, False), ('', '', 0., 0, False),
       ('', '', 0., 0, False), ('', '', 0., 0, False)],
      dtype=[('f0', '<U5'), ('f1', '<U5'), ('f2', '<f8'), ('f3', '<i4'), ('f4', '?')])

In [5]:
print(c.dtype)

[('f0', '<U5'), ('f1', '<U5'), ('f2', '<f8'), ('f3', '<i4'), ('f4', '?')]

In [6]:
c['f0'] = name_list
c['f1'] = sex_list
c['f2'] = weight_list
c['f3'] = rank_list
c['f4'] = myopia_list

In [7]:
print(c)

[('小明', 'boy', 67.5, 8,  True) ('小華', 'boy', 75.3, 1,  True)
 ('小菁', 'girl', 50.1, 5, False) ('小美', 'girl', 45.5, 4, False)
 ('小張', 'boy', 80.8, 7,  True) ('John', 'boy', 90.4, 6,  True)
 ('Mark', 'boy', 78.4, 2, False) ('Tom', 'boy', 70.7, 3, False)]

In [8]:
c['f2']

array([67.5, 75.3, 50.1, 45.5, 80.8, 90.4, 78.4, 70.7])

In [9]:
#計算全部平均體重
np.average(c['f2'])

69.8375

In [10]:
#計算男生平均體重
a = np.where(c['f1'] == 'boy',c['f2'],np.nan)

In [11]:
print(a)

[67.5 75.3  nan  nan 80.8 90.4 78.4 70.7]

In [12]:
np.nanmean(a)

77.18333333333334

In [13]:
#計算女生平均體重
b = np.where(c['f1'] == 'girl',c['f2'],np.nan)

In [14]:
print(b)

[ nan  nan 50.1 45.5  nan  nan  nan  nan]

In [15]:
np.nanmean(b)

47.8